body {
    font-family: 'Arial', sans-serif;
    margin: 20px;
	background-color: #cdfcbf
}

h1 {
    
	color: #b768f0;
}
h1{
    font-family: Fantasy, cursive;
}
h2{
	font-family: 'Fantasy', cursive;

}
p{
	font-family: Monospace;
}
img{
	width: 200px;
	height:300px;
}
